# Global snippets

# new task
snippet task
	-------------------
	### Task
	`strftime("%B %d, %Y")` `strftime("%H:%M")`
	
	${1}
#quotes and brackets
snippet "
	"${1}"
snippet '
	'${1}'
snippet (
	(${1})
snippet [
	[${1}]
snippet {
	{${1}}
